<main>
  
    <div class="container-qs">
        <h1 style="font-size: 44pt; text-align: center;"> O QUE É A SPARTE?</h1>
        <img  src="/assets/img/camaleao.png" alt="" class="imagem">
        <p class="text">A <span class="red">S</span><span class="orange">p</span><span class="yellow">a</span><span
                class="green">r</span><span class="sky-blue">t</span><span class="blue">e</span> é uma plataforma que
            ajuda artistas independentes a ganhar visibilidade, promovendo suas obras e talentos. Além disso, ela
            destaca exposições artísticas, servindo como um guia cultural para apreciar arte local. A plataforma também
            oferece inspiração ao apresentar artistas e suas trajetórias, incentivando a criatividade. Além disso, a
            Sparte compartilha informações sobre locais para estudo, tornando-se uma valiosa ferramenta para quem deseja
            se aprofundar na cultura artística estadual.</p> 
            
<tr>
    <th><a routerLink="/artistas">  <img src="/assets/img/artes.png" alt="" class="link" > </a></th>
    <th><a routerLink="/estudos"> <img src="/assets/img/estudos.png" alt="" class="link"></a></th>
    <th><a routerLink="/expo"> <img src="/assets/img/expo.png" alt="" class="link"></a></th>
    <th><a routerLink="/inspire-se"> <img src="/assets/img/inspo.png" alt="" class="link"> </a> </th>  
</tr>
            </div>
</main>