main {
    background-color: #EBEBEB;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
}

.text{
    font-weight: bolder;
    font-size: 25px;
    padding: 10px;
}
.red {color: #ee2121;}
.green {color: #009c19;}
.blue {color: #0d52d9;}
.orange {color: #ff6b00;}
.sky-blue {color: #00b9f3;}
.yellow{color: #fff500;}

.container-qs{
 background-color: #CDCCD3;
 margin: 0 auto;
 width: 85%;
 line-height: 1.5;
font-size: x-large;
padding: 30px;
border-radius: 70px;
}
.imagem{
    float: right;
    margin-right: 15px;
    width: 300px;

}

img.link{
    width: 60%;
    margin-top: 15px;
    
}

a.nav-texto{
    font-size: 70pt;
    text-decoration: none;
}
a{
    text-decoration: none;
}