body {
    background-image: url(/assets/img/background.png);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 110px;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}